body {
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.55rem;
    color: #213487;
    text-align: justify;
}

b {
    font-weight: 600;
}

.breadcrumb {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
}

.breadcrumb-item {
    color: #053980;
}

.breadcrumb-item:active{
    color: #9a9da7;
}

footer {
    text-align: center;
    font-size: small;
}

.btn-outline-light {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    border-radius: 50px;
}

.btn-info {
    width: 373px;
    font-weight: 500;
    border-radius: 50px;
    background-color: #053980;
    border: 0;
    color: white;
    font-size: 1.75em;
    padding-bottom: 0.35em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.logo {
    max-width: 80px;
    margin-right: 0.35em;
    margin-bottom: 0.5em;
    
}

.logo-type {
    font-family: 'Laila', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    color:#053980;
}

.logo-subText {
    font-family: 'Laila', sans-serif;
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: 500;
    color:#053980;
    letter-spacing: 0.35rem;
}

.heroText {
    font-family: 'Kaushan Script', cursive;
    font-size: 5rem;
    text-align: end;
    padding-right: 0em;
    letter-spacing: 0.05em;
    color:#053980
}

.card {
    border-radius: 0px;
    border: 0px;
}

.img-tile :hover {
    transition: .5s ease-in-out;
    opacity: 1;
    cursor: grab;
}

.overlay {
    transition: .5s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 33%;
    text-align: center;
}

.img-tile:hover img {
    opacity: 0.3;
}

.card:hover {
    background-color: #0808dfd3;
    opacity: 1;
}

.img-tile:hover .overlay {
    opacity: 1;
    
}

.textBtn {
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-size: 2.0em;
}

.title {
    padding: 1.25em;
    font-family: 'Laila', sans-serif;
    color: #213487;
}

.brochure {
    max-width: 100%;
}




@media screen and (max-width:375px){
    .heroText {
        display:none
    }

    .logo-type {
        font-size: 1.25rem;
    }
    
    .logo-subText {
        letter-spacing: 0em;
        font-size: 1em;
    }
}
